.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    justify-content: center;
}
.datiks{
    margin-top: 120px;
    width: 300px;
}
.auth{
    margin-top: 40px;
}
p{
    font-family: "TT Norms", sans-serif;
}
input{
    width: 250px;
    padding: 12px 15px;
    border-radius: 25px;
    border: 2px solid rgb(27, 201, 181);
    margin-top: 20px;
    margin-left: 10px;
    line-height: 20px;
    display: block;
}

.btn-login{
    font-size: 16px;
    font-family: TT Norms, sans-serif;
    color: rgb(0, 0, 0);
    border: none;
    background-color: rgb(27, 201, 181);
    padding: 10px 20px;
    border-radius: 25px;
    margin-top: 20px;
}
.btn{
    display: flex;
    justify-content: center;
}