*{
    font-family: TT Norms, sans-serif;
    background-color: rgba(27, 201, 181, 0);
}
.header{
    margin-top: 65px ;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}
.finance > h1{
    padding-left: 50px;
}
.finance > ul{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.links{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.burgerMenu{
    display: none;
    position: relative;
}
.logo{
    width: 200px;
}
.tel{
    position: relative;
    background-color: rgb(27, 201, 181);
    padding:  18px 19px 18px 50px;
    border-radius: 25px;
}
.tel--min{
    display: none;
    border-bottom: none;
}
.tel--min img{
    width: 25px;
}
.tel--min a{
    border-radius: 30px;  
}
.tel--min:hover{
    background-color: rgb(132, 76, 230);
    border-radius: 30px; 
    border-bottom: none;   
}

.tel::before {
    content: " ";
    position: absolute;
    top: 6px;
    left: 11px;
    background: url(/img/telephone.png);
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
}
.tel:hover{
    background-color: rgb(132, 76, 230);
}
/* .link:nth-child(6) > a{
    border-bottom: none;
    color: rgb(0, 0, 0);
    bor
} */
.link > a{
    text-decoration: none;
    font-size: 16px;
    font-family: TT Norms, sans-serif;
    color: rgb(0, 0, 0);
    border-bottom: 1px solid rgb(27, 201, 181);
    padding: 6px;
}
.link > a:hover{
    background-color: rgb(132, 76, 230);
    border-radius: 10px 10px 0 0 ;
    border-style: solid;
    border-color: rgb(132, 76, 230);
    font-size: 16px;
    color: white;
}


@media (max-width: 1200px){
   
    
}
@media (max-width: 992px){
   .logo{
       width: 140px;
   }
   .tel{
       padding: 10px;
   }
   .tel::before{
    background: none;
    position: static;
    top: 0;
    left: 0;
   }
   .link a{
       font-size: 14px;
   }
}
@media (max-width: 767px){
    .link:nth-child(2) > a{
        display: none;
    }
    .link:nth-child(3) > a{
        display: none;
    }
    .link:nth-child(4) > a{
        display: none;
    }
    .link:nth-child(5) > a{
        display: none;
    }
    .link:nth-child(6) > a{
        display: none;
    }
    .burgerMenu{
        display: block;
    }
}
@media (max-width: 611px){
    .tel{
        display: none;
    }
    .link:nth-child(7) > a{
        border-bottom: none;
    }
    .link a:hover{
        border-radius: 30px;
        background: none;
        margin: 0;
        border-color: transparent;
    }
    .link a img:hover{
        margin: 6px;
    }
    .link > a{
        border-bottom: none;
    }
    .tel--min{
        display: block;
    }
    .burgerMenu{
        padding-left: 20px;
    }
  }

@media (max-width: 484px){
    .logo{
        width: 200px;
    }
    .link:nth-child(4) > a{
        display: none;
    }
    .link:nth-child(5) > a{
        display: none;
    }
    .exit{
        display: none;
    }
}
@media (max-width: 360px){
    .logo{
        width: 140px;
    }
}


